body{
  background-image: url('/bg.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  height:100vh;

}
.login-modal-container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background-image: url('/bg.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

.login-container{
  display:flex;
  flex-direction:column;
  width:18rem;
  background-color: #556A5A;
  padding:2rem;
  gap:0.5rem;
  border-radius:0.5rem;
  height:18rem;
}

.login-input{
  margin-top:2rem;
  display:flex;
  flex-direction:column;
  gap:0.5rem;
}

.login-container h1{
  text-align:center;
  color:white;
  margin-top:1rem;
}

.login-container input{
  border-radius:0.25rem;
  border-style:none;
  height:2rem;
  font-size:15px;
  padding:0.5rem;
}

.login-container button{
  margin-top:0.2rem;
  height:2rem;
  border-radius:0.25rem;
  border-style:none;
}

.error-login{
  color:pink;
  text-align:center;

}
